
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			
			<%= form_for @user do |f|%>
			
			<% if @user.errors.any? %>
			<div id="error_explanation" style="color:indigo">
				<h2>
					<%= @user.errors.count %> Errors have prevented the article from being saved:
				</h2>
				<ol>
					<%= @user.errors.full_messages.each do |msg| %>
					<li>
						<%=msg%>
					</li>
					<%end%>
				</ol>
			</div>
			<% end %>
			
			<div class="form-group">
			
			<p>
				<%= f.label :username, class: "control-label"%><br>
				<%= f.text_field :username, class: "form-control", placeholder: "Enter User Name" %>	
			</p>
			<p>
				<%= f.label :email, class: "control-label"%><br>
				<%= f.email_field :email, class: "form-control", placeholder: "Enter Email" %>	
			</p>
			<p>
				<%= f.label :password, class: "control-label"%><br>
				<%= f.password_field :password, class: "form-control", placeholder: "Enter Password"%>	
			</p>
			
			<%=f.submit "Sign Up", class:"btn btn-primary btn-lg"%>
			
			</div>
			
		</div>
	</div>
</div>

<%end%>
